<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>

    <link rel="icon" href="img/favicon.svg">
    <link rel="stylesheet" href="css/reg.css">
    <link rel="stylesheet" href="lib/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Логотип</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Регистрация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Войти</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>
      <main style="margin: 6.25% 12.5%;">
        <h1 style="user-select: none; margin-bottom: 15px;">Регистрация</h1>
        <form class="row g-3">
            <div class="col-md-4">
              <label for="validationDefault01" class="form-label">Имя</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="Василий" required>
            </div>
            <div class="col-md-4">
              <label for="validationDefault02" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Пупкин" required>
            </div>
            <div class="col-md-4">
              <label for="validationDefaultUsername" class="form-label">Имя пользователя</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" placeholder="@vase4ka228" required>
              </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="vasya@example.com">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputEmail5" class="form-label">Повтор пароля</label>
                <input type="password" class="form-control" id="inputEmail5">
            </div>
            <div class="col-md-6">
              <label for="validationDefault03" class="form-label">Город</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Саратов" required>
            </div>
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">Пол</label>
              <select class="form-select" id="validationDefault04" required>
                <option selected>Мужской</option>
                <option>Женский</option>
                <option>Предпочитаю не указывать</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="validationDefault05" class="form-label">Статус</label>
              <input type="text" class="form-control" id="validationDefault05" placeholder="Per aspera ad astra" required>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Примите <a href="#">условия и соглашения</a>
                </label>
              </div>
            </div>
            <div>
              <h6>Что вам интересно?</h6>
              <div class="agregator">
                <label class="checkbox-btn">
                  <input type="checkbox" id="it">
                  <span><img src="img/braces.svg"></img>IT</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="business">
                  <span>Бизнес</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="sport">
                  <span>Спорт</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="music">
                  <span>Музыка</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="animals">
                  <span>Животные</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="memes">
                  <span>Мемы</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="games">
                  <span>Игры</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="science">
                  <span>Естествознание</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="maths">
                  <span>Точные науки</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="science">
                  <span>Политика</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="psichology">
                  <span>Психология</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="politics">
                  <span>Политика</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="pc">
                  <span>Компьютеры</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="laws">
                  <span>Право</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="food">
                  <span>Кулинария</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="parfum">
                  <span>Парфюмерия</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="build">
                  <span>Строительство</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="creator">
                  <span>Контент</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="helping">
                  <span>Благотворительность</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="fighting">
                  <span>Единоборства</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="dancing">
                  <span>Танцы</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="trading">
                  <span>Инвестиции</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="history">
                  <span>История</span>
                </label>
                <label class="checkbox-btn">
                  <input type="checkbox" id="drawing">
                  <span>Рисование</span>
                </label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-success" type="submit">Зарегистрировать!</button>
              <button class="btn btn-danger" type="reset">Очистить</button>
            </div>
        </form>
      </main>
    <script type="text/javascript" src="lib/js/bootstrap.js"></script>
</body>
</html>